movo:
    left_gripper_controller:
        type: position_controllers/JointTrajectoryController
        joints: 
            - left_gripper_finger1_joint
        constraints:
            goal_time: 0.6
            stopped_velocity_tolerance: 0.05
            linear_joint: {trajectory: 0.1, goal: 0.1}
            stop_trajectory_duration: 0.5
        state_publish_rate:  100
        action_monitor_rate: 100
        gains:
            linear_joint: {p: 10.0, i: 1.0, d: 0.0}
