<?xml version="1.0"?>
 <launch>
	<node pkg="rrs_ros" type="rrs_node" name="rrs_ros" output="screen"/>
        <node pkg="rrs_ros" type="net2_node" name="net2_node" output="screen"/>
	
	<!-- send robot urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find movo_description)/urdf/movo.urdf.xacro'" />

	<!-- Robot state publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="100.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>

        <rosparam file="$(find tr1_hardware_interface)/config/hardware.yaml" command="load"/>
        <rosparam file="$(find tr1_hardware_interface)/config/right_arm_7dof_controller.yaml" command="load"/>
        <rosparam file="$(find tr1_hardware_interface)/config/joint_limits.yaml" command="load"/>
        <rosparam file="$(find tr1_hardware_interface)/config/kinematics.yaml" command="load"/>
        <rosparam file="$(find tr1_hardware_interface)/config/joint_state_controller.yaml" command="load"/>
        <rosparam file ="$(find tr1_hardware_interface)/config/controllers.yaml" command="load"/>
  
        <node name="tr1_hardware_interface" pkg="tr1_hardware_interface" type="tr1_hardware_interface_node" output="screen"/>
  
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/" args="/movo/right_arm_controller joint_state_controller" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find movo_viz)/rviz/robot_7dof_.rviz" output="screen"/>
</launch>
