<?xml version="1.0"?>
 <launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  <arg name="robot_name" default="movo"/>
  

  <rosparam file="$(find tr1_hardware_interface)/config/hardware.yaml" command="load"/>
  <rosparam file="$(find tr1_hardware_interface)/config/right_arm_7dof_controller.yaml" command="load"/>
  <rosparam file="$(find tr1_hardware_interface)/config/joint_limits.yaml" command="load"/>
  <rosparam file="$(find tr1_hardware_interface)/config/kinematics.yaml" command="load"/>
  <rosparam file="$(find tr1_hardware_interface)/config/joint_state_controller.yaml" command="load"/>
  <rosparam file ="$(find tr1_hardware_interface)/config/controllers.yaml" command="load"/>
  <!--xacro:include filename="$(find movo_description)/urdf/movo.urdf.xacro" /-->
	<!--param name="robot_description" command="cat $(find movo_description)/urdf/movo.urdf.xacro" /-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find movo_description)/urdf/movo.urdf.xacro'" />
  
  <node name="tr1_hardware_interface" pkg="tr1_hardware_interface" type="tr1_hardware_interface_node" output="screen" launch-prefix="$(arg launch_prefix)"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
		args="/movo/right_arm_controller 
                      joint_state_controller" />

</launch>
